{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h3 class="card-title text-center">{% trans "Sign In" %}</h3>
                <p class="card-text text-center">{% blocktrans %}Welcome back to Git Comet. To leave a comment or like a post, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.login }}
                    </div>
                    <div class="mb-3">
                        {{ form.password }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form.remember }}
                        <label class="form-check-label" for="{{ form.remember.id_for_label }}">
                            {% trans "Remember me" %}
                        </label>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="d-grid">
                        <button class="btn btn-signout" type="submit">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}